.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  background-color: #4a6491;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__link {
  color: #ecf0f1;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
}



/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
  .header {
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
  }
  
  .header__link {
      width: 100%;
      text-align: center;
      padding: 0.5rem;
  }
}