.mainPage {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.btnAndP {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  width: 90%;
  height: 70%;
  z-index: -1;
  overflow: hidden;
}

.video__element {
  width: 100%;
  height: 100%;
}

p {
  color: black;
  font-size: 2rem;
 
  margin-bottom: 2rem;
}

button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}